/* ==========
FONT FAMILY
=============*/
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap");
/* ==========
COLORS

#FFFFFF

#F7DF1E

#019AA8
=============*/

/* ==========
GLOBAL STYLES
=============*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Jost";
  color: #ffffff;
 
  /* min-width: 900px; */
  /* height: 100%; */
  /* clip-path: polygon(85% 0, 100% 0, 100% 100%, 15% 100%); */

  /* padding: 3rem; */
}

.container {
  width: 60%;
  margin: 0 auto;
}

section {
  height: 100vh;
  /* background: radial-gradient(50% 50% at 50% 50%, #0BE8F8 0%, #019AA8 100%); */
  background-image: url("../images/BG-2.svg");
  background-size: cover;
  background-position: center;
  /* background-repeat: none; */
  overflow: scroll;
}

/* PL QUESTIONS SECTION  */

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3.6rem;
  padding: 5rem 0;
}
.header__title-container {
  width: 65%;
  margin: 0 auto;
}

#question-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
  padding: 2rem;
  width: 100%;
  height: 100%;
  background: #F7DF1E;
  border-radius: 0.8rem;
  box-shadow: 1px 5px 39px 0px rgba(36, 5, 84, 0.75);
  z-index: 10;
}

h3 {
  font-size: 1.8rem;
  font-weight: 300;
  color: #000;
}

h3 > span {
  color: #019AA8;
}

.main-question-container {
  text-align: center;
}

h2 {
  font-size: 2rem;
  padding-top: 2rem;
  align-self: center;
  color: #000;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-self: space-between;
  margin: 3rem 0;
}

.answer-container {
  width: 25%;
}
ul li {
  list-style-type: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: #000;
  /* background-color: #fff; */
  text-align: center;
  cursor: pointer;
}

.answer-list label,
.answer-list input {
  display: block;
  background-color: #fff;
  list-style-type: none;
  padding: 1.4rem 4rem;
  border-radius: 1rem;
  box-shadow: 0 5px 15px -5px rgba(36, 5, 84, 0.69);
}

.answer-list input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.answer-list input[type="radio"]:checked + label,
.Checked + label {
  color: #fff;
  background: #019AA8;
  

}

.answer-list label {
  /* border: 1px solid #ccc; */
  cursor: pointer;
  z-index: 90;
}

.answer-list label:hover {
  color: #019AA8;
  background-color: rgb(228, 228, 228);
}

.submit-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.4rem;
  background: none;
  color: #019AA8;
  border: 2px solid ;
  padding: 1.2rem 0;
  box-shadow: 0 13px 31px -12px rgba(36, 5, 84, 0.69);
  border-radius: 0.8rem;
  color: #019AA8;
  cursor: pointer;
  width: 100%;
  margin-bottom: 3rem;
  text-align: center;
}

.submit-btn:hover {
  color: #fff;
  border-color: #019AA8;
  background-color: #019AA8;
  font-weight: 600;
}

p {
  font-size: 1.4rem;
  color: #000;
}

.logo-box {
  position: absolute;
  bottom: 4vh;
  right: 2vw;
}

.premier-league-logo {
  height: 8rem;
}

.sadio-box {
  position: absolute;
  bottom: 0;
  left: 0;
}

.sadio-box > img {
  height: 70vh;
}

.reload-btn {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.4rem;
  background: none;
  border: 2px solid #ecfd37;
  padding: 1.2rem 0;
  box-shadow: 0 13px 31px -12px rgba(36, 5, 84, 0.69);
  border-radius: 0.8rem;
  color: #ecfd37;
  cursor: pointer;
  width: 30rem;
  margin: 5rem 0;
  text-align: center;
}

.reload-btn:hover {
  color: #240554;
  background-color: #ecfd37;
  font-weight: 600;
}

/* ====================
    MEDIA QUERIES
=======================
*/

/* LAPTOP SCREENS */
@media screen and (max-width: 1180px) {
  .answer-list label,
  .answer-list input {
    display: block;
    background-color: #fff;
    list-style-type: none;
    padding: 1.4rem 4rem;
    border-radius: 1rem;
  }
  .answer-container {
    width: 30%;
  }
  .sadio-box > img {
    height: 65vh;
  }
}

@media screen and (max-width: 996px) {
  h3 {
    font-size: 1.6rem;
    font-weight: 300;
  }

  h2 {
    font-size: 1.8rem;
    padding-top: 2rem;
  }

  .header__title-container {
    width: 70%;
    margin: 0 auto;
  }

  .header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3.2rem;
    padding: 6rem 0;
  }

  .answer-list label,
  .answer-list input {
    display: block;
    background-color: #fff;
    list-style-type: none;
    padding: 1.4rem 4rem;
    border-radius: 1rem;
  }
  .answer-container {
    width: 35%;
  }

  ul {
    margin-bottom: 2.4rem;
  }

  p {
    font-size: 1.2rem;
  }
  .sadio-box > img {
    height: 60vh;
  }
}

/* TABLET SCREENS */

@media screen and (max-width: 758px) {
  .container {
    width: 70%;
    margin: 0 auto;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 300;
  }
  h2 {
    font-size: 1.6rem;
    padding-top: 2rem;
  }

  .header__title-container {
    width: 100%;
    margin: 0 auto;
  }

  .header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.4rem;
    padding: 5rem 0;
  }

  .answer-list label,
  .answer-list input {
    padding: 1.4rem 2rem;
  }

  ul li {
    font-size: 1.2rem;
  }
  .answer-container {
    width: 50%;
  }

  .submit-btn {
    font-size: 1.4rem;
  }
  .premier-league-logo {
    height: 6rem;
    /* width: 3rem; */
  }
  .sadio-box > img {
    height: 40vh;
  }
}

/* MOBILE DEVICES */
@media screen and (max-width: 596px) {
  h3 {
    font-size: 1.2rem;
    font-weight: 300;
  }

  h2 {
    font-size: 1.4rem;
    padding-top: 2rem;
  }

  .header__title-container {
    width: 100%;
    margin: 0 auto;
  }

  h1 {
    font-size: 1rem;
  }

  .header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    padding: 4rem 0;
  }

  .answer-list label,
  .answer-list input {
    padding: 1.4rem 1.2rem;
  }

  ul li {
    font-size: 1rem;
  }
  .answer-container {
    width: 50%;
  }

  p {
    font-size: 1rem;
  }
  .premier-league-logo {
    height: 4rem;
    /* width: 3rem; */
  }
  .sadio-box > img {
    height: 25vh;
  }
  .reload-btn {
    width: 24rem;
  }
}

@media screen and (max-width: 390px) {
  .reload-btn {
    width: 18rem;
  }
}
